:root {
    --primary-color: #146b19;
    --body-color: #c949c2;
    --side-color: #56147c;
    --accent-color: #21db8e;
}

* {
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

/**
* TITLE
*/

header {
    background: linear-gradient(#54218f 0%,#c949c2 30%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .name {
    margin: 20px 0px 20px 0px;
    padding: 20px;
    background-color:#d484b0;
}

header .name h1 {
    font-size: 300%;
    font-variant-caps: petite-caps;
    font-weight: normal;
    font-style: oblique;
    text-align: center;
    
}

/**
* NAV
*/

nav {
    display: flex;
    margin: 10px;
}

nav a {
    color: #ffffff;
    font-size: 150%;
    margin: 30px 5px 10px 0;
    padding: 15px 15px 5px 15px;
    text-decoration: none;
    border-bottom: 5px solid black;
}

nav a:focus {
    border-bottom: 6px solid #2a0d2c;
    outline: 0;
}

nav a:hover {
    color: #36b931;
}

/**
* HERO IMAGE
*/

.hero {
    background-image: url(https://loremflickr.com/1920/300/cat);
    background-size: 100%;
    height: 300px;
    width: 100%;

}

/**
* SIDEBAR
*/

.side {
    background-color: var(--side-color);
    flex-shrink: 0;
    width: 300px;
}

.side h2 {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    background-color: var(--side-color);
    color: #ffffff;
    position: sticky;
    top: 20px;
    border-right: 5px solid #000000;
    padding: 0px 0px 0px 200px;
    font-size: 25px;
    
}

/**
* ABOUT ME
*/

.aboutme {
    background-color: var(--body-color);
    display: flex;
}

.aboutme section {
    line-height: 1.6;
    margin: 2% 3%;
    text-indent: 20px;
}

.aboutme p {
    padding-top: 10px;
}

/** 
* ABOUT ME - FIGURE AND CAPTION
*/

.aboutme figure {
    margin: 1%;
    text-align:center;
    color: #ffffff;
}

.aboutme img {
    border: 10px solid black;
    border-radius: 40px;
    border-style: ridge;
    padding: 5px;
}

.aboutme figcaption {
    background-color: var(--body-color);
    border: 5px solid black;
    border-radius: 40px;
    margin: 0 auto;
    max-width: 80%;
    padding: 5px 20px;
    position: relative;
    top: -20px;
}

/**
* WORK EXAMPLES
*/

.mywork {
    background: linear-gradient(#c949c2,#350b35);
    display: flex;
}

.workboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5% 8%;
    width: 80%;
}

.card {
    background-image: url(https://loremflickr.com/700/350/cat);
    background-position: center;
    background-size: 90%;
    border: 10px solid #1a031d;
    border-radius: 40px;
    border-style: ridge;
    margin: 15px 0;
    width: 45%;
    min-height: 275px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 1;
    transition: all 1s;
}

.card#favorite {
    background-image: url(https://loremflickr.com/1920/700/cat);
    background-position: center;
    background-size: 90%;
    height: 30vh;
    min-height: 275px;
    width: 95%;
}

.card section {
    background-color: #1a031d;
    bottom: 20px;
    color: white;
    line-height: 1.1;
    margin: 0 auto 0 0;
    padding: 2px 25px 5px 5px;
    position: relative;
}

.card h3{
    font-size: 180%;
}
.card h4 {
    font-size: 200%;
    background-position: right bottom;
}
.card p {
    font-style: oblique;
}

.card:focus {
    outline: 0;
    border-color: #44ce56;
}

.card:hover {
    transition: all 1s;
    transform: scale(1.2,1.2);
    background-size: 75%;
}

/**
* CONTACT ME
* Operation is finished, waiting for the style pass.
*
* The Contact Me sidebar can scroll, in case I ever want to add a form or something.
*/

.contactme {
    background-color: #350b35;
    border-radius: 3px;
    border-color: #160416;
    display: flex;
}

.contactme section {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.contactme a {
    font-size: 200%;
    color: #ffffff;
    border-bottom: 5px solid #c66fdb;
}

.contactme a:hover {
    color:#44ce56;
}

/**
* FOOTER
* Very basic footer. Background is currently an inversion of the header
* background, until a style pass.
*/

footer {
    height: 100px;
    background: linear-gradient(#350b35,#0a010a);
    text-align: center;
    border-style: ridge;
    border: 10px;
    border-color: #160416;
}

footer p {
    font-style:oblique;
    font-size: 120%;
    padding: 40px 0;
    color: #ffffff;
}

/**
* Tablet Version - mostly done - need to ensure later additions work
*/

@media screen and (max-width:992px) {
    .side {
        width: 180px;
    }
    header {
        flex-direction: column;
        justify-content: flex-start;
    }
    nav,
    nav a {
        flex-direction: row;
        margin: 0;
        justify-content: center;
    }

    .card {
        width: 100%;
    }
}

/**
* Mobile Version - mostly done, need to make sure contact works
*/

@media screen and (max-width:768px) {
    .side {
        width: 100%;
    }
    
    .side h2 {
        padding: 0;
        border: 0;
        margin: 0;
        width: 80%;
        text-align: left;
        padding: 10px;
        border-bottom: 5px solid black;
        margin: 10px 10px 10px 10px;
    }

    header {
        flex-direction: column;
        justify-content: flex-start;
    }

    nav,
    nav a {
        flex-direction: row;
        margin: 0;
        align-items: center;
        font-size: 100%
    }

    .aboutme,
    .mywork,
    .contactme {
        flex-direction: column;
    }
}
